<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="ecommerce testing">
    <listeners>
        <listener class-name="drillproductions.TestComponents.Listeners"/>
    </listeners>
    <test name="Login Validation test" thread-count="10">
        <classes>
            <class name="drillproductions.tests.ErrorValidationsTest"/>
        </classes>
    </test>
    <test thread-count="10" name="Ordering Tests">
        <classes>
            <class name="drillproductions.tests.OrderTest"/>
        </classes>
    </test>
</suite> <!-- Suite -->